/*1317085896,176833975*/

.sp_17si19{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yb/r/Skv3Ct4GceU.png);background-repeat:no-repeat;display:inline-block;height:14px;width:8px}
.sx_c690ba{background-position:-27px -66px}
.selected .sx_c690ba{background-position:-19px -66px}
.sx_a1497d{width:12px;background-position:-12px -51px}
.selected .sx_a1497d{background-position:-0px -51px}
.sx_c47c01{width:11px;background-position:-36px -51px}
.selected .sx_c47c01{background-position:-25px -51px}
.sx_177278{width:10px;height:10px;background-position:-17px -85px}
.sx_2a1990{background-position:-8px -85px}
.selected .sx_2a1990{background-position:-0px -85px}
.sx_d9a249{width:12px;background-position:-36px -66px}
.sx_477f3a{width:18px;height:18px;background-position:-0px -66px}
.sx_e4fdf8{width:50px;height:50px;background-position:-0px -0px}
.sp_23wzsz{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yV/r/nOb_rnNEOvE.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_8c8399{background-position:-16px -0px}
.selected .sx_8c8399{background-position:-0px -0px}
.sx_6737ea{background-position:-16px -17px}
.selected .sx_6737ea{background-position:-0px -17px}
.sx_3ef5f4{background-position:-16px -34px}
.selected .sx_3ef5f4{background-position:-0px -34px}
.sp_4q1nzd{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yx/r/J_LQULOAmHu.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_e6bc90{width:13px;height:13px;background-position:-258px -84px}
.sx_4aa509{width:13px;height:13px;background-position:-242px -84px}
.sx_70e422{width:7px;height:14px;background-position:-493px -49px}
.sx_e11aca{width:29px;height:30px;background-position:-90px -83px}
.sx_6901e9{width:29px;height:30px;background-position:-60px -83px}
.sx_d98fd2{width:29px;height:30px;background-position:-30px -83px}
.sx_6c3068{width:29px;height:30px;background-position:-0px -83px}
.sx_a8ed22{width:19px;height:4px;background-position:-164px -49px}
.sx_6d826c{height:9px;background-position:-411px -64px}
.sx_9bf931{height:9px;background-position:-428px -64px}
.sx_d18e77{width:9px;background-position:-221px -83px}
.sx_8f7b75{width:9px;background-position:-231px -83px}
.sx_221c8e{height:9px;background-position:-445px -64px}
.sx_b60c69{width:17px;background-position:-124px -64px}
.selected .sx_b60c69{background-position:-107px -64px}
.sx_7813f0{width:17px;background-position:-89px -64px}
.selected .sx_7813f0{background-position:-72px -64px}
.sx_277d77{width:10px;height:10px;background-position:-316px -83px}
.sx_6791d2{width:10px;height:10px;background-position:-327px -83px}
.sx_e068f9{width:10px;height:10px;background-position:-338px -83px}
.sx_7c5383{width:17px;background-position:-54px -64px}
.selected .sx_7c5383{background-position:-37px -64px}
.sx_090279{width:10px;height:14px;background-position:-383px -64px}
.selected .sx_090279{background-position:-373px -64px}
.sx_b6c375{width:8px;height:14px;background-position:-402px -64px}
.selected .sx_b6c375{background-position:-394px -64px}
.sx_447bd1{width:10px;height:12px;background-position:-133px -49px}
.selected .sx_447bd1{background-position:-123px -49px}
.sx_6023e2{width:10px;height:12px;background-position:-112px -49px}
.selected .sx_6023e2{background-position:-102px -49px}
.sx_b44fe6{width:10px;height:12px;background-position:-91px -49px}
.selected .sx_b44fe6{background-position:-81px -49px}
.sx_d332cd{background-position:-158px -64px}
.selected .sx_d332cd{background-position:-142px -64px}
.sx_2a72f6{width:13px;height:12px;background-position:-67px -49px}
.selected .sx_2a72f6{background-position:-54px -49px}
.sx_aa0a3e{width:13px;height:12px;background-position:-40px -49px}
.selected .sx_aa0a3e{background-position:-27px -49px}
.sx_d161b2{width:13px;height:12px;background-position:-13px -49px}
.selected .sx_d161b2{background-position:-0px -49px}
.sx_34ba22{background-position:-191px -64px}
.selected .sx_34ba22{background-position:-175px -64px}
.sx_8b9468{background-position:-224px -64px}
.selected .sx_8b9468{background-position:-208px -64px}
.sx_34a1a5{background-position:-257px -64px}
.selected .sx_34a1a5{background-position:-241px -64px}
.sx_b14d19{background-position:-290px -64px}
.selected .sx_b14d19{background-position:-274px -64px}
.sx_0a5e22{background-position:-323px -64px}
.selected .sx_0a5e22{background-position:-307px -64px}
.sx_52168d{background-position:-356px -64px}
.selected .sx_52168d{background-position:-340px -64px}
.sx_081422{width:10px;height:8px;background-position:-462px -64px}
.sx_34cd3c{width:15px;background-position:-205px -83px}
.sx_3a93c8{background-position:-188px -83px}
.sx_c7dda3{width:18px;height:18px;background-position:-18px -64px}
.sx_c7dda3:hover{background-position:-0px -64px}
.sx_8999e0{background-position:-171px -83px}
.sx_e67707{background-position:-154px -83px}
.sx_46ea62{background-position:-137px -83px}
.sx_a70910{background-position:-120px -83px}
.sx_5dd72c{width:19px;height:5px;background-position:-144px -49px}
.sx_db9a0f{width:11px;height:13px;background-position:-273px -83px}
.sx_a01ea5{width:9px;height:13px;background-position:-296px -83px}
.sx_24586b{width:10px;height:13px;background-position:-285px -83px}
.sx_9fb793{width:9px;height:13px;background-position:-306px -83px}
.sx_af168b{width:500px;height:48px;background-position:-0px -0px}
.sp_8n1pd0{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/UT9wOfSw55W.png);background-repeat:no-repeat;display:inline-block;height:10px;width:13px}
.sx_be615e{background-position:-0px -17px}
.sx_20b2e8{width:17px;height:16px;background-position:-17px -0px}
.selected .sx_20b2e8{background-position:-0px -0px}
.sp_9gvg7g{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yo/r/eLw-3wLCg6u.png);background-repeat:no-repeat;display:inline-block;height:16px;width:10px}
.sx_7eb42c{background-position:-0px -20px}
.sx_05ce84{width:16px;height:19px;background-position:-0px -0px}
.sx_ba605f{height:10px;background-position:-0px -37px}
.sp_9x0spv{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yl/r/JIIqX2cp-H9.png);background-repeat:no-repeat;display:inline-block;height:31px;width:16px}
.sx_548f1e{height:16px;background-position:-287px -100px}
.selected .sx_548f1e{background-position:-271px -100px}
.sx_b8eae2{width:11px;height:11px;background-position:-287px -214px}
.selected .sx_b8eae2{background-position:-276px -214px}
.sx_f55c7a{width:11px;height:11px;background-position:-264px -214px}
.selected .sx_f55c7a{background-position:-253px -214px}
.sx_f0aca6{width:11px;height:11px;background-position:-241px -214px}
.selected .sx_f0aca6{background-position:-230px -214px}
.sx_eb1091{width:7px;height:12px;background-position:-304px -100px}
.sx_10e735{width:7px;height:7px;background-position:-289px -288px}
.sx_8bb516{width:26px;height:24px;background-position:-133px -307px}
.sx_b5a7ee{width:26px;height:24px;background-position:-106px -307px}
.sx_9f4a38{width:26px;height:24px;background-position:-267px -165px}
.sx_aa42db{width:20px;height:24px;background-position:-0px -198px}
.sx_946151{width:7px;height:14px;background-position:-304px -15px}
.sx_6a7d79{width:11px;height:14px;background-position:-300px -0px}
.sx_991150{width:22px;height:25px;background-position:-69px -342px}
.sx_a7f133{width:22px;height:25px;background-position:-92px -342px}
.sx_152cf9{width:21px;height:25px;background-position:-137px -342px}
.sx_6ffa34{width:21px;height:25px;background-position:-115px -342px}
.sx_071740{width:22px;height:25px;background-position:-289px -262px}
.sx_0f0190{width:22px;height:25px;background-position:-0px -342px}
.sx_c268a8{width:14px;height:14px;background-position:-296px -46px}
.sx_416842{width:8px;height:12px;background-position:-296px -75px}
.sx_dfc287{width:17px;height:16px;background-position:-292px -130px}
.sx_8de1eb{width:7px;height:14px;background-position:-0px -168px}
.sx_f9eb31{width:7px;height:14px;background-position:-0px -138px}
.sx_2f2fee{width:11px;height:12px;background-position:-0px -38px}
.sx_64e58c{width:22px;height:25px;background-position:-23px -342px}
.sx_4aa41e{width:22px;height:25px;background-position:-46px -342px}
.sx_141daf{height:16px;background-position:-176px -342px}
.sx_125e36{height:16px;background-position:-159px -342px}
.sx_c527b3{height:16px;background-position:-285px -307px}
.sx_0dddaa{height:16px;background-position:-268px -307px}
.sx_245bfb{height:16px;background-position:-251px -307px}
.sx_8d3dab{height:16px;background-position:-217px -307px}
.sx_bf40e7{width:10px;height:15px;background-position:-296px -30px}
.sx_fc8e26{height:16px;background-position:-234px -307px}
.sx_4e7f2b{width:13px;height:8px;background-position:-284px -117px}
.selected .sx_4e7f2b{background-position:-271px -117px}
.sx_e52364{width:24px;background-position:-271px -32px}
.sx_b2f18f{width:24px;background-position:-0px -309px}
.sx_369eb4{width:24px;background-position:-264px -264px}
.sx_c0d7c9{width:24px;background-position:-239px -264px}
.sx_9abda3{width:24px;background-position:-214px -264px}
.sx_6bbfa5{width:24px;background-position:-189px -264px}
.sx_50c40d{width:24px;background-position:-271px -67px}
.sx_3aa6f1{width:24px;background-position:-267px -132px}
.sx_6904bd{width:24px;background-position:-89px -264px}
.sx_d45b26{width:24px;background-position:-114px -264px}
.sx_959530{width:24px;background-position:-139px -264px}
.sx_ef1540{width:24px;background-position:-164px -264px}
.sx_67767c{height:16px;background-position:-193px -342px}
.sx_8906e7{height:16px;background-position:-210px -342px}
.sx_4bbd67{height:16px;background-position:-200px -307px}
.sx_bfe9e9{height:16px;background-position:-183px -307px}
.sx_da02be{height:16px;background-position:-294px -165px}
.sx_63acb3{height:16px;background-position:-292px -147px}
.sx_64cda8{height:12px;background-position:-294px -199px}
.sx_ba431b{width:25px;background-position:-26px -307px}
.sx_b61030{width:25px;background-position:-53px -307px}
.sx_14f0b3{width:25px;background-position:-80px -307px}
.sx_1dc705{width:7px;height:4px;background-position:-297px -288px}
.sx_b6918a{width:7px;height:4px;background-position:-89px -297px}
.sx_d1f504{width:89px;height:19px;background-position:-215px -235px}
.sx_0b9b84{width:103px;background-position:-0px -230px}
.sx_9cafdd{width:103px;height:30px;background-position:-104px -230px}
.sx_009bda{width:88px;height:44px;background-position:-0px -262px}
.sx_144a96{width:9px;height:13px;background-position:-296px -61px}
.sx_f4fec8{width:9px;height:8px;background-position:-296px -88px}
.sx_0122b2{width:9px;height:8px;background-position:-298px -117px}
.sx_f1cd89{width:63px;height:23px;background-position:-230px -190px}
.sx_639648{height:16px;background-position:-294px -182px}
.sx_90b745{width:9px;height:8px;background-position:-299px -214px}
.sx_839c65{width:22px;height:19px;background-position:-160px -307px}
.sp_aa9nbs{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yn/r/zHNGLEeoCs0.png);background-repeat:no-repeat;display:inline-block;height:48px;width:500px}
.sx_b4c43f{width:8px;height:12px;background-position:-122px -407px}
.sx_e14bda{width:7px;height:14px;background-position:-493px -392px}
.sx_d442bf{width:14px;height:14px;background-position:-34px -407px}
.sx_f2d530{width:10px;height:10px;background-position:-164px -407px}
.sx_0520d2{width:10px;height:10px;background-position:-153px -407px}
.sx_097baa{width:10px;height:10px;background-position:-142px -407px}
.sx_61002e{width:10px;height:10px;background-position:-131px -407px}
.sx_3b01f7{width:13px;height:8px;background-position:-63px -392px}
.sx_610e5a{width:11px;height:14px;background-position:-11px -392px}
.selected .sx_610e5a{background-position:-0px -392px}
.sx_694702{width:8px;height:14px;background-position:-25px -407px}
.selected .sx_694702{background-position:-17px -407px}
.sx_af4265{width:9px;height:12px;background-position:-53px -392px}
.selected .sx_af4265{background-position:-44px -392px}
.sx_a8216e{width:10px;height:14px;background-position:-33px -392px}
.selected .sx_a8216e{background-position:-23px -392px}
.sx_26b7ce{width:5px;height:3px;background-position:-87px -392px}
.sx_68796a{width:16px;height:16px;background-position:-0px -407px}
.sx_1246f3{width:10px;height:9px;background-position:-175px -407px}
.sx_ca348c{width:11px;height:12px;background-position:-110px -407px}
.sx_33e68b{width:8px;height:13px;background-position:-101px -407px}
.sx_59bb39{width:9px;height:13px;background-position:-61px -407px}
.sx_ec2280{width:11px;height:13px;background-position:-49px -407px}
.sx_d084d0{width:9px;height:13px;background-position:-71px -407px}
.sx_4af4e4{width:9px;height:13px;background-position:-81px -407px}
.sx_d27546{width:9px;height:13px;background-position:-91px -407px}
.sx_42153c{width:9px;height:5px;background-position:-77px -392px}
.sx_7d36de{background-position:-0px -49px}
.sx_f713e1{background-position:-0px -294px}
.sx_f1104b{background-position:-0px -343px}
.sx_40ed21{background-position:-0px -245px}
.sx_47ddba{background-position:-0px -196px}
.sx_e9570c{background-position:-0px -147px}
.sx_f5adc2{background-position:-0px -98px}
.sx_02ae25{background-position:-0px -0px}
.sp_bfhlci{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yq/r/fRipRwEHKSM.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_7cfefe{background-position:-16px -0px}
.selected .sx_7cfefe{background-position:-0px -0px}
.sx_144e10{background-position:-16px -17px}
.selected .sx_144e10{background-position:-0px -17px}
.sx_1d3800{background-position:-16px -34px}
.selected .sx_1d3800{background-position:-0px -34px}
.sx_6f099e{background-position:-16px -51px}
.selected .sx_6f099e{background-position:-0px -51px}
.sx_bf2ad7{background-position:-16px -68px}
.selected .sx_bf2ad7{background-position:-0px -68px}
.sp_ovpraq{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yM/r/lMFFZXJPstm.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_669037{height:10px;background-position:-119px -136px}
.sx_0f1e36{width:11px;height:11px;background-position:-4px -8px}
.sx_2d861b{width:17px;height:17px;background-position:-0px -118px}
.sx_334e99{width:4px;height:8px;background-position:-191px -54px}
.sx_630bf9{width:4px;height:8px;background-position:-191px -36px}
.sx_4a46d6{width:4px;height:8px;background-position:-191px -27px}
.sx_4fdddd{width:4px;height:8px;background-position:-191px -45px}
.sx_1345d4{width:11px;height:7px;background-position:-43px -153px}
.sx_f6b88e{width:13px;height:14px;background-position:-0px -170px}
.sx_bfe4d5{height:14px;background-position:-85px -136px}
.sx_429d29{background-position:-155px -118px}
.sx_6624af{background-position:-138px -118px}
.sx_fd0cec{background-position:-121px -118px}
.sx_08c387{background-position:-104px -118px}
.sx_6323b8{width:9px;height:5px;background-position:-189px -118px}
.sx_67356a{background-position:-87px -118px}
.sx_05e42d{height:17px;background-position:-53px -118px}
.sx_a7cd95{background-position:-70px -118px}
.sx_164dd1{height:15px;background-position:-51px -136px}
.sx_304175{height:10px;background-position:-136px -136px}
.sx_4c6847{width:13px;height:10px;background-position:-170px -136px}
.sx_6c7b2c{width:12px;height:11px;background-position:-30px -153px}
.sx_fa0616{width:15px;height:13px;background-position:-14px -153px}
.sx_5db56a{height:15px;background-position:-34px -136px}
.sx_af43e3{width:13px;background-position:-0px -153px}
.sx_1ddb02{background-position:-172px -118px}
.sx_0af8a5{height:14px;background-position:-102px -136px}
.sx_d16ce2{width:17px;height:17px;background-position:-18px -118px}
.sx_cc138f{height:15px;background-position:-68px -136px}
.sx_014476{background-position:-0px -136px}
.sx_d9ab66{height:17px;background-position:-36px -118px}
.sx_71d7e6{width:11px;height:9px;background-position:-184px -136px}
.sx_53e127{background-position:-17px -136px}
.sx_443bc9{height:10px;background-position:-153px -136px}
.sx_8f321f{width:1px;height:1px;background-position:-196px -27px}
.sx_0bafc5{width:5px;height:3px;background-position:-191px -63px}
.sx_57575c{width:190px;height:90px;background-position:-0px -27px}

#bootloader_IfXEj { height: 42px; }